@tailwind base;
@tailwind components;
@tailwind utilities; 

body::-webkit-scrollbar{
 height: 10px;
 width: 10px;
 border-radius: 4px;
}
body::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 4px;
}